.vscode
scripts/pypi_publish.sh
*__pycache__*
build
dist
*.egg
*.egg-info
examples/reconstruct/data/*
!examples/reconstruct/data/COPY_DATA_HERE
examples/render/0-z-quickstart/z-single-64x64/*
!examples/render/0-z-quickstart/z-single-64x64/z-single-64x64.yaml
examples/render/0-z-quickstart/z-single-64x64-gpu/*
!examples/render/0-z-quickstart/z-single-64x64-gpu/z-single-64x64-gpu.yaml
examples/render/1-bunny-confocal/bunny-confocal-128x128/*
!examples/render/1-bunny-confocal/bunny-confocal-128x128/bunny-confocal-128x128.yaml
examples/render/2-exhaustive/bunny-exhaustive-2x2x64x64/*
!examples/render/2-exhaustive/bunny-exhaustive-2x2x64x64/bunny-exhaustive-2x2x64x64.yaml
examples/render/2-exhaustive/plane-exhaustive-16x16x16x16/*
!examples/render/2-exhaustive/plane-exhaustive-16x16x16x16/plane-exhaustive-16x16x16x16.yaml
examples/render/3-freq-space/z-single-64x64-freq/*
!examples/render/3-freq-space/z-single-64x64-freq/z-single-64x64-freq.yaml
examples/render/4-polarized/z-single-64x64-polarized/*
!examples/render/4-polarized/z-single-64x64-polarized/z-single-64x64-polarized.yaml
examples/old/
examples/old/test/data
examples/old/test/render
examples/old/test/debug_notebook.ipynb